<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>

  <meta charset="UTF-8">
  <title>Groups</title>
</head>
<body class="flex flex-col justify-center items-stretch">

<div layout:fragment="content">

  <div class="flex flex-col m-20">

    <div class="mb-4">
      <form method="get" th:action="@{groups}" class="flex items-center w-1/2">
        <label for="simple-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">By Name : </label>
        <div class="relative w-full">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
          </div>
          <input type="text" th:value="${search}" name="search" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name of group is ..." >
        </div>
        <button type="submit" class=" py-2.5 px-4 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Search
        </button>
      </form>
      <form method="get" th:action="@{addGroup}">
        <div class="relative">
          <button type="submit" class="text-white absolute left-96 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 mt-4 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Group</button>
        </div>
      </form>
    </div>
    <div class="border border-white rounded-lg relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="text-center px-6 py-3">
            Group's name
          </th>
          <th scope="col" class="text-center px-6 py-3">
            Full Name
          </th>
          <th scope="col" class="text-center px-6 py-3">
            Personal Number
          </th>
          <th scope="col" class="text-center px-6 py-3">
            Professional Number
          </th>
          <th scope="col" class="text-center px-6 py-3">
            Address
          </th>
          <th scope="col" class="text-center px-6 py-3">
            Personal Email
          </th>
          <th scope="col" class="text-center px-6 py-3">
            Professional Email
          </th>
          <th scope="col" class="text-center px-6 py-3">
            Genre
          </th>
          
          <th scope="col" class="text-center ml-10 px-6 py-3">
      
          </th>
          <th scope="col" class="text-center px-6 py-3">
      
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c:${Groups}" class=" bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td th:text="${c[8]}" class="text-center px-6 py-4"></td>
          <th th:text="${c[0]+' '+c[1]}" scope="row" class="text-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"></th>
          <td th:text="${c[5]}" class="text-center px-6 py-4"></td>
          <td th:text="${c[6]}" class="text-center px-6 py-4"></td>
          <td th:text="${c[4]}" class="text-center px-6 py-4"></td>
          <td th:text="${c[2]}" class="text-center px-6 py-4"></td>
          <td th:text="${c[3]}" class="text-center px-6 py-4"></td>
          <td th:text="${c[7] ? 'Male' : 'Female' }" class="text-center px-6 py-4"></td>
          <td class="text-center px-6 py-4"><a th:data-nom="${c[0]}" th:data-prenom="${c[1]}" th:attr="onclick='if (confirm(\'Do you really want to delete the contact \' + this.getAttribute(\'data-nom\') + \' \' + this.getAttribute(\'data-prenom\') + \'?\')) { alert(\'Contact deleted successfully!\'); return true; } else { return false; }'"  th:href="@{deleteContact(contactId=${c[9]})}" class=" font-bold text-red-600 dark:text-red-500 hover:underline">Delete</a></td>
          <td class="text-center px-6 py-4"><a th:href="@{updateContact(contactId=${c[9]})}" class=" font-bold text-green-600 dark:text-green-500 hover:underline">Update</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>